.icon-atcoder:before {
	content: "";
	background-image: url("/images/icons/atcoder.svg");
	display: inline-block;
	width: 1em;
	height: 1em;
	background-size: contain;
	vertical-align: middle;
}

.link-black {
	color: #3c4858;
}

.sc-player {
	position: sticky;
	bottom: 0;
	z-index: 1;
}
